# Godot
.godot/
/android/
*.translation

# Exports
*.pck
*.zip
export_presets.cfg

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.swp
*~

# Nakama server build
nakama/data/modules/node_modules/
nakama/data/build/
